* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.continer{
  width:calc(100% - 320px);
  margin: auto;
}

@media screen and  (max-width:1400px) {
  .continer{
    width: calc(100% - 200px );
  }
  
}
@media screen and  (max-width:992px) {
  .continer{
    width: calc(100% - 100px );
  }
  
}

@media screen and  (max-width:576px) {
  .continer{
    width: calc(100% - 40px );
  }
  
}


ul{
 list-style-type: none;
}

a{
    text-decoration: none;
}

:root{
    --primaryColor:#FB2E86;
     --secondaryColor:#151875;
    --mainFont:"Lato", sans-serif;
    --secondaryFont:"Josefin Sans", sans-serif
}

.btn{
    background-color: var(--primaryColor);
    border-radius: 2px;
    padding: 16px 40px;
    outline:none;
    border: none;
}
.view-btn{
  background-color: #08D15F;
  padding: 5px 10px;
  color: #fff;
}
.row{
      display: flex;
      flex-wrap: wrap;
    align-items: center;
    justify-content : space-between;
}
.d-flex{
  display: flex;
}
.flex-dir{
  flex-direction: column;
}
.align-start{
  align-items: flex-start;
}
.gap1{
  gap: 10px;
}
.gap2{
  gap: 40px;
}
.gap3{
  gap: 20px;
}


.text-center{
  text-align: center;
}

.text-primary{
  color: var(--primaryColor);
}
.text-sec{
  color: var(--secondaryColor);
}
.cir-img{
  border-radius: 50%;
  background-color: #F6F7FB;
  padding: 30px 20px;
}
.gary{
  color: #72718F;
}