/* header styling */
.header{
    padding: 57px 0px;
}

.header ul{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.bar{
    display: none;
}


.list a{
    color:#0D0E43;
}
.header .active{
    color: var(--primaryColor);
}
.search form{
    border: 1px solid #E7E6EF;
    border-radius: 5px;
}
.search  input{
    border: none;
    outline: none;
    padding-left: 9px;
    width: 250px;
}
.search button{
       outline: none;
       border: none;
       background-color: var(--primaryColor);
       padding: 8px 13px;
}



@media screen and (max-width:1200px) {
    .list , 
    .header .search{
        display: none;
    }

    .bar{
        display: block;
    }
}

/* end of header */

/* featured-products */
.featured-products{
    padding: 50px 0px;
}
.featured-products .row{
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}
.featured-products .product{
    flex-grow: 1;
    flex-basis: 300px;
    box-shadow: 0px 4px 4px #00000040;
    
}
.product .img{
    background-color: #F6F7FB;
    padding: 30px 0px;
    border-radius: 4px;
    height: 250px;
}
.product .product-info{
    padding: 20px 0px;
}

/* end of featured-products */

/* newslater */
.newslater{
    background-image: url('../images/news.png');
    padding: 175px 0px;
    text-align: center;
    gap: 15px;
   align-items: center;
}

.newslater h2{
    color: var(--secondaryColor);
    font-size: 35px;
}

.newslater a{
    color:white;
}

.shop-btn{
    transition: all .5s;
}
.shop-btn:hover{
    background-color: var(--secondaryColor);; 
}
/* newslater */



/* clients */
.clients{
    padding: 50px 0px;
}
.clients .row{
    flex-wrap: nowrap;
    gap: 15px;
    overflow-x: auto;
}
.clients .logo{
    width: calc(( 100% - 75px) / 6);
}
.clients img{
   width: 150px;
   height: 150px;   /* why  */
}

@media screen and (max-widht:900px) {
    .clients .logo{
        width: calc(( 100% - 30px) / 3);
    }
    
}
/* end of clients */

/* start of footer */
.footer{
    background-color:#EEEFFB;
    padding: 50px 0;
}

.footer .row{
    gap: 30px;
}
.left button{
    color: #EEEFFB;
}

.footer .left{
    align-items: flex-start;
    width: calc((100% - 30px) / 2);
}

.footer .right{
     width: calc((100% - 30px) / 2);
}

.footer-item a{
    color: #8A8FB9;
}
.contact{
     color: #8A8FB9;
    
}

.footer .right .row{
 gap: 35px;
}
.footer-item{
    gap:45px;
    width: calc((100% -70px) / 3);
   
}


@media screen and (max-width:992px) {
    .footer .left,.footer .right{
        width: 100%;
        
    }
}
@media screen and (max-width:576px) {
    .footer-item{
        width: 100%;
         justify-content: center;
    text-align: center;
    }
    
}
/* end of footer */